<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 class="tituloPagina">
        Pagina de prestacion de servicios
    </h1>
    <nav class='contenedor'>
        <div class = 'videoContariner'>
            <iframe [src]="videoUrl" width="640" height="360" frameborder="0" allowfullscreen></iframe>
            <textarea id="story" name="story" rows="5" cols="33" readonly="true" disabled>
                It was a dark and stormy night...
            </textarea>


        </div>
        <div>
            <img src="https://placecats.com/450/600" alt="imagen de pagina">
        </div>


    </nav>
</body>

</html>