.contenedor {
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
}

.tituloPagina{
    color: aliceblue;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 35px;
}

.videoContariner{
    display: flex;
    flex-direction: column;
    gap: 20px;
} 


#story {
    resize: none;
}