<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="scroll-container" #scrollContainer>
    <div class="scroll-item">
      <app-pagina-uno></app-pagina-uno>

      <button class='siguientePB' (click)="scrollNext()">
        <img class='siguienteP' src="../assets/flecha.png" alt="siguiente pagina">
      </button>
    </div>
    <div class="scroll-item">
      <app-pagina-productos></app-pagina-productos>

    </div>

    <div class="scroll-item">
      <app-pagina-servicios></app-pagina-servicios>

    </div>

    <div class="scroll-item">
      <app-app-clima></app-app-clima>

    </div>

    <div class="scroll-item">


    </div>

    <div class="scroll-item">


    </div>

    <div class="scroll-item">


    </div>

  </div>


</body>

</html>