.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}

.scroll-item {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;
}


.scroll-container {

    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.scroll-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

body {
  background-image: url('../assets/background_1.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden; /* opcional, para evitar scroll */
}

.siguientePB{
    background-color: transparent;
    border-radius: 100%;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    display: block;
    cursor:pointer;
    animation: cambioColores 1s infinite alternate ;
    transition: background-color 0.3 ease;

    position: fixed;
    bottom: 20px;
}

@keyframes cambioColores {
    from {background-color: transparent;}
    to {background-color: grey;}
    
}

.siguienteP {
    width: 60px;
    height: 60px;

} 