.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}

.scroll-item {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: 100vh;
    scroll-snap-align: start;
}


.scroll-container {

    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.scroll-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

body {
  background-image: url('../assets/background_1.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden; /* opcional, para evitar scroll */
}