<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="scroll-container" #scrollContainer>
    <div class="scroll-item">
      <app-pagina-uno></app-pagina-uno>
      <button (click)="scrollNext()">Siguiente sección</button>
    </div>
    <div class="scroll-item"> <button (click)="scrollNext()">Siguiente sección1</button>
    </div>
    <div class="scroll-item"> <button (click)="scrollNext()">Siguiente 2</button>
    </div>
    <div class="scroll-item"> <button (click)="scrollNext()">Siguiente sección3</button>
    </div>
  </div>


</body>

</html>