<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <nav class='contenedor'>
        <div class="derecho">
            <h1 class="tituloPagina">
                Datos de contacto
            </h1>

            <div class='contenedor'>
                <h2>
                    Email: pablohernanpinto@gmail.com
                </h2>
                <h2>
                    numero: +56 9 9344 8423
                </h2>
            </div>


        </div>
        <div class='videoContariner'>
            <iframe [src]="videoUrl" width="640" height="360" frameborder="0" allowfullscreen></iframe>



        </div>

    </nav>
</body>

</html>